body {
    margin: 0;
    padding: 0;
}

.parallax{
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax h1{
    color: rgb(255, 0, 0);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 70px;
}

.black-block {
    min-height: 800px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-block h1{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}