.container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 600px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.username {
    margin: 5px 0 0 0;
    line-height: 10%;
    font-size: 40px;
    height: 10px;
    color: rgb(0, 0, 0);
}

h2 {
    display: block;
    text-align: center;
    color: rgb(199, 182, 160);
}

h3 {
    color: rgb(121, 110, 97);
}

table {
    width: 100%;
    height: 100%;
    flex: 1;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
}

.image {
    margin: 0 auto;
    border-radius: 35px;
    width: 200px;
    height: 225px;
    overflow: hidden;
}

.icon
{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: 0 5px;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}

button {
    all: unset;
    display: block;
    font-size: 17px;
    border: none;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: pointer;
}