.container {
    position: relative;
    margin: auto;
    margin-top: 100px;
    width: 400px;
    height: 600px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 25px;
}

.username {
    margin-top: 5px;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

h2 {
    display: block;
    text-align: center;
    color: rgb(199, 182, 160);
}

table {
    width: 100%;
}

td {
    width: 100%;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
}

.image {
    margin: 5px auto;
    border-radius: 35px;
    width: 200px;
    height: 225px;
    overflow: hidden;
}

.icon-row {
    text-align: center;
}

.icon
{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin: 0 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center bottom;
}